body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: url('https://images.unsplash.com/photo-1600891964599-f61ba0e24092?auto=format&fit=crop&w=1740&q=80') no-repeat center center fixed;
    background-size: cover;
}

.blur-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.overlay {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
}

.healthyfoodlogo-container{
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
}
.healthyfood-logo{
    position: absolute;
    height: 98px;
    width: 98px;
    margin-left: -68px;
    margin-top: 8px;
    animation: fadeGlow 2s infinite alternate; 
}
h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 8px black;
    margin-bottom: 30px;
    animation: glowScale 3s infinite alternate;
}

@keyframes glowScale {
    from {text-shadow: 0 0 8px #f97316;}
    to {text-shadow: 0 0 25px #eee;}
}

.category {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.category-title {
    font-size: 1.4em;
    font-weight: bold;
    color: #ff8c38;
    text-shadow: 1px 1px 5px black;
    margin-bottom: 10px;
}

label {
    cursor: pointer;
}

input[type="checkbox"] {
    margin-right: 8px;
}

.grid-menu {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.container {
    margin-top: -10px;
    gap: 40px;
    max-width: 1400px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
}

.grid-menu-dishes {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.container-disease {
    margin-top: -10px;
    gap: 40px;
    max-width: 800px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
}

.category {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 300px;
    overflow-y: auto;
    padding-right: 10px;
}

.category::-webkit-scrollbar {
    display: none;
}

.category {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

s form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-wrapper {
    position: relative;
}

.next-btn {
    margin-top: 15px;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background-color: #f97316;
    cursor: pointer;
    pointer-events: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
}

.next-btn:hover {
    transform: scale(1.12);
    background-color: #ff8c38;
}

.outside-button {
    position: absolute;
    bottom: -50px;
    left: 47%;
    width: 100px;
}